html, body{
    width: 100%;
    height: 100%;
}

body {
    background-color: $color-bordaux;
}

div {
    margin: 0;
    // border: 1px dotted red;
}

.textLogo {
    width: 300px;
    height: auto;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    background: blueviolet;
}

.section {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 70%,#f2f2f2 100%);
}

.sectionContent {
    width: 800px;
    min-height: 50px;
    
}


